<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
        </head>
        <body>
            <h1>Guia Perguntas</h1>
            <!--<%= %> Exibir valor da variavel no HTML -->
            <%= nome %>
            <p><%= lang %> </p>
            <% if(msg == true){ %>
                <h3>Exibindo uma mensagem!</h3>
           <%}%>
        </body>
    </html>