<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" href="/css/bootstrap.min.css">
            <link rel="stylesheet" href="/css/style.css">
        </head>
        <body>
            <nav class="navbar navbar-light bg-primary">
                <a class="navbar-brand" href="/">
                    <img src="/img/logo.png" width="50px">
                </a>
            </nav>
            <div class="container">
                <div class="card" id="formulario-pergunta">
                    <div class="card-header">
                        <h5>Realizar Pergunta</h5>
                    </div>
                    <div class="card-body">
                        <form>
                            <label>Título</label>
                            <input type="text" placeholder="titulo" class="form-control">
                            <br>
                            <label>Descrição</label>
                            <textarea placeholder="Descreva sua pergunta aqui." class="form-control">
                            </textarea>
                            <br>
                            <button class="btn btn-primary">Perguntar</button>
                        </form>
                    </div>
                </div>
            </div>
        </body>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.min.js"></script>
        
    </html>